.button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  /*font-size: 16px;*/
  font-size: clamp(16px, 5vw, 40px);
  font-weight: 600;
  height: 100%;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

/* Dark mode button styles */
.dark-mode .button {
  background-color: #2d2d2dff;
  border-color: #fff;
  color: #fff;
  fill: #fff;
}

.dark-mode .button:hover,
.dark-mode .button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}