.popup {
    display: none; /*display: block; /*has to be set in the .js, because its hidden per default*/
    margin: 0;
    padding: 0;
    top: 20vh;
    right: 20vw;
    width: 60vw;
    height: 60vh;
    float: center;
    position: fixed;
    background-color: rgba(216, 216, 216, 0.9);
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    z-index: 9999;
}

.dark-mode .popup {
    background-color: rgba(70, 70, 70, 0.9);
    border-color: #ffffff;
}

.popup-top {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 10%;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    display: flex;
    align-items: center;
}

.dark-mode .popup-top {
    border-bottom-color: #ffffff;
}

.popup-top-text-container {
    flex: 1;
    text-align: center;
    font-size: 3vh;
}

.popup-top-exit-container {
    height: 100%;
    aspect-ratio: 1;
}

.close-button {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    color: #000000;
    border: none;
}

.dark-mode .close-button {
    color: #ffffff;
}

.popup-bottom {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
}