body {
    margin: 0;
}

.dark-mode {
    background-color: #2d2d2dff;
    color: white;
}

.top {
    display: flex;
    height: 85vh;
    box-sizing: border-box;
}

.bottom {
    display: flex;
    height: 15vh;
    box-sizing: border-box;
}

.left {
    width: 85%;
}

.right {
    width: 15%;
}

.button-wrap-col {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(80px, 1fr);
    gap: 10px;
}

.button-wrap-row {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(40px, 1fr);
    gap: 10px;
}

.button-wrap-col,
.button-wrap-row {
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.full-canvas {
    width: 100%;
    height: 100%;
}